<div class="container">
  <section class="top-bar">
    <!-- More -->
    <button class="top-bar__more js-toggle d-none d-lg-block" toggle-target="#navbar">
      <img src="/assets/icons/more.svg" alt="More" class="icon top-bar__more-icon" />
    </button>

    <!-- logo -->
    <a href="./index-logged.html" class="logo__link logo">
      <img src="/assets/icons/Logo.svg" alt="Grocerymart" class="logo__icon" />
      <h1 class="logo__title">grocerymart</h1>
    </a>

    <!-- navbar -->
    <!-- add class navbar show -->
    <nav id="navbar" class="navbar">
      <!-- icon close -->
      <button class="navbar__btn-close js-toggle d-none d-lg-block" toggle-target="#navbar">
        <img src="/assets/icons/arrow-left.svg" alt="" />
      </button>

      <!-- stalls -->
      <div class="navbar-stalls d-none d-md-flex">
        <a href="./checkout.html" class="navbar-stalls__link">
          <img src="/assets/icons/buy-car.svg" alt="Buy" class="icon navbar-stalls__icon" />
          <span class="navbar-stalls__title">Card</span>
          <span class="navbar-stalls__quantity">3</span>
        </a>

        <a href="#!" class="navbar-stalls__link">
          <img src="/assets/icons/heart.svg" alt="Heart" class="icon navbar-stalls__icon" />
          <span class="navbar-stalls__title">Favorite</span>
          <span class="navbar-stalls__quantity">3</span>
        </a>
      </div>

      <!-- navbar lisr  -->
      <div class="navbar__container">
        <ul class="navbar__list js-dropdown-list">
          <li class="navbar__item">
            <a href="#!" class="navbar__link">
              Departments
              <img
                src="/assets/icons/arrow-down.svg"
                alt="ion-arrow-down"
                class="icon navbar__icon"
              />
            </a>

            <!-- dropdown -->
            <div class="dropdown js-dropdown">
              <div class="dropdown__inner">
                <div class="top-menu">
                  <div class="top-menu__main">
                    <!-- menu column -->
                    <div class="menu-column menu-column__main">
                      <div class="menu-column__icon d-lg-none">
                        <img
                          src="/assets/imgs/category/cate-1.1.svg"
                          alt=""
                          class="menu-column__icon-1"
                        />
                        <img
                          src="/assets/imgs/category/cate-1.2.svg"
                          alt=""
                          class="menu-column__icon-2"
                        />
                      </div>

                      <div class="menu-column__content">
                        <a href="#!" class="d-lg-none">
                          <h2 class="menu-column__heading">All Departments</h2>
                        </a>

                        <ul class="menu-column__list js-menu-list">
                          <!-- menu-column__item--active -->
                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link"> Savings & Featured Shops </a>

                            <!-- sub menu -->
                            <div class="sub-menu">
                              <!-- column 1 -->
                              <div class="sub-menu__column">
                                <!-- colum 1.1 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="/assets/imgs/category/cate-2.1.svg"
                                      alt=""
                                      class="menu-column__icon-1"
                                    />
                                    <img
                                      src="/assets/imgs/category/cate-2.2.svg"
                                      alt=""
                                      class="menu-column__icon-2"
                                    />
                                  </div>

                                  <div class="menu-column__content">
                                    <a href="#!">
                                      <h2 class="menu-column__heading">TV & Video</h2>
                                    </a>

                                    <ul class="menu-column__list">
                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Shop all TVs </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> TVs by Size </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Smart TVs </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Roku TVs </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> TVs by Size </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Streaming </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          TV Mounts & Accessories
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          DVD & Blu-Ray Players
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>

                                <!-- colum 1.2 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="/assets/imgs/category/cate-2.3.svg"
                                      alt=""
                                      class="menu-column__icon-1"
                                    />
                                    <img
                                      src="/assets/imgs/category/cate-2.4.svg"
                                      alt=""
                                      class="menu-column__icon-2"
                                    />
                                  </div>

                                  <div class="menu-column__content">
                                    <a href="#!">
                                      <h2 class="menu-column__heading">Wearable Technology</h2>
                                    </a>

                                    <ul class="menu-column__list">
                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Galaxy Watch </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Apple Watch </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Fitness Trackers
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Virtual Reality </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Headphones </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>

                              <!-- column 2 -->
                              <div class="sub-menu__column">
                                <!-- column 2.1 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="/assets/imgs/category/cate-3.1.svg"
                                      alt=""
                                      class="menu-column__icon-1"
                                    />
                                    <img
                                      src="/assets/imgs/category/cate-3.2.svg"
                                      alt=""
                                      class="menu-column__icon-2"
                                    />
                                  </div>

                                  <div class="menu-column__content">
                                    <a href="#!">
                                      <h2 class="menu-column__heading">Computers</h2>
                                    </a>

                                    <ul class="menu-column__list">
                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Shop All Computers
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Laptops </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> PC Gaming </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Monitors </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Chromebook </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Printers & Ink </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Shop All Computers
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Computer Accessories
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Desktops </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Tax Software </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Computer Software
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> PC Finder </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>

                              <!-- column 3 -->
                              <div class="sub-menu__column">
                                <!-- column 3.1 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="/assets/imgs/category/cate-4.1.svg"
                                      alt=""
                                      class="menu-column__icon-1"
                                    />
                                    <img
                                      src="/assets/imgs/category/cate-4.2.svg"
                                      alt=""
                                      class="menu-column__icon-2"
                                    />
                                  </div>

                                  <div class="menu-column__content">
                                    <a href="#!">
                                      <h2 class="menu-column__heading">Savings</h2>
                                    </a>

                                    <ul class="menu-column__list">
                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Tech Savings </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Overstock Savings
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Tech Rollbacks </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>

                                <!-- column 3.2 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="/assets/imgs/category/cate-4.3.svg"
                                      alt=""
                                      class="menu-column__icon-1"
                                    />
                                    <img
                                      src="/assets/imgs/category/cate-4.4.svg"
                                      alt=""
                                      class="menu-column__icon-2"
                                    />
                                  </div>

                                  <div class="menu-column__content">
                                    <a href="#!">
                                      <h2 class="menu-column__heading">Cell Phones</h2>
                                    </a>

                                    <ul class="menu-column__list">
                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> Wireless Deals </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link"> 5G Phones </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Prepaid Phones & Plans
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Refurbished Phones
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          iPhone Accessories
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Cases & Screen Protectors
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Walmart Protection Plan
                                        </a>
                                      </li>

                                      <li class="menu-column__item">
                                        <a href="#!" class="menu-column__link">
                                          Walmart Protection Plan
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link"> Electronics </a>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link">
                              Clothing, Shoes & Accessories
                            </a>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link"> Savings & Featured Shops </a>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link"> Electronics </a>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link">
                              Clothing, Shoes & Accessories
                            </a>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link"> Savings & Featured Shops </a>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link"> Electronics </a>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link">
                              Clothing, Shoes & Accessories
                            </a>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link"> Savings & Featured Shops </a>
                          </li>

                          <li class="menu-column__item">
                            <a href="#!" class="menu-column__link"> Electronics </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="navbar__item">
            <a href="#!" class="navbar__link">
              Grocery
              <img
                src="/assets/icons/arrow-down.svg"
                alt="ion-arrow-down"
                class="icon navbar__icon"
              />
            </a>

            <!-- dropdown -->
            <div class="dropdown">
              <div class="dropdown__inner">
                <div class="top-menu">
                  <div class="top-menu__main">
                    <!-- sub menu -->
                    <div class="sub-menu--no-main">
                      <!-- column 1 -->
                      <div class="sub-menu__column">
                        <!-- colum 1.1 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-2.1.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-5.1.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Grocery</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Grilling Foods </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Spring Flavors </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <!-- colum 1.2 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-5.2.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-5.3.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Fresh Produce</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Celebrate Salad Month </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Healthy Living </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Fresh Flowers </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Chilled Dressing </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Fresh Fruit </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Salad Kits & Bowls </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Organic Produce </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Fresh Vegetables </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <!-- column 2 -->
                      <div class="sub-menu__column">
                        <!-- column 2.1 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-5.4.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-5.5.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Bakery & Bread</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> New in Bakery </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Sliced Bread </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Rolls & Buns </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Tortillas </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Breakfast Breads </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Pies </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Cookies & Brownies </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <!-- column 2.2 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-5.6.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-5.7.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Frozen</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Frozen Breakfast </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Frozen Potatoes </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Frozen Meals & Snacks </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <!-- column 3 -->
                      <div class="sub-menu__column">
                        <!-- column 3.1 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-6.1.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-6.2.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Snacks</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Chips </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Popcorn & Pretzels </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Crackers </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Salsa & Dips </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <!-- column 3.2 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-6.3.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-6.4.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Candy</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Better for You </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Chocolate </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Sugar Free Candy </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Gum </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Mints </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> On-the-Go </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <!-- column 4 -->
                      <div class="sub-menu__column">
                        <!-- column 4.1 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-7.1.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-7.2.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Cocktails & Mixes Coffee</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> group Coffee </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Whole Bean Coffee </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Coffee Pods </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Instant Coffee </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <!-- column 4.2 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-7.3.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-7.4.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Beverages</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Water </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Soft Drinks </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Fruit Juice </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Sports Drinks </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Energy Drinks </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Tea </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Hot Chocolate & Cocoa </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="navbar__item">
            <a href="#!" class="navbar__link">
              Beauty
              <img
                src="/assets/icons/arrow-down.svg"
                alt="ion-arrow-down"
                class="icon navbar__icon"
              />
            </a>

            <!-- dropdown -->
            <div class="dropdown">
              <div class="dropdown__inner">
                <div class="top-menu">
                  <div class="top-menu__main">
                    <!-- sub menu -->
                    <div class="sub-menu--no-main">
                      <!-- column 1 -->
                      <div class="sub-menu__column">
                        <!-- column 1.1 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-5.4.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-5.5.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Bakery & Bread</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> New in Bakery </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Sliced Bread </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Rolls & Buns </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Tortillas </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Breakfast Breads </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Pies </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Cookies & Brownies </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <!-- column 1.2 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-5.6.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-5.7.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Frozen</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Frozen Breakfast </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Frozen Potatoes </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Frozen Meals & Snacks </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <!-- column 2 -->
                      <div class="sub-menu__column">
                        <!-- colum 2.1 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-2.1.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-5.1.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Grocery</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Grilling Foods </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Spring Flavors </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <!-- colum 2.2 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-5.2.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-5.3.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Fresh Produce</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Celebrate Salad Month </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Healthy Living </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Fresh Flowers </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Chilled Dressing </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Fresh Fruit </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Salad Kits & Bowls </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Organic Produce </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Fresh Vegetables </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <!-- column 3 -->
                      <div class="sub-menu__column">
                        <!-- column 3.1 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-7.3.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-7.4.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Beverages</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Water </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Soft Drinks </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Fruit Juice </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Sports Drinks </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Energy Drinks </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Tea </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Hot Chocolate & Cocoa </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <!-- column 4 -->
                      <div class="sub-menu__column">
                        <!-- column 4.1 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-6.1.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-6.2.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Snacks</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Chips </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Popcorn & Pretzels </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Crackers </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Salsa & Dips </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <!-- column 4.2 -->
                        <div class="menu-column">
                          <div class="menu-column__icon">
                            <img
                              src="/assets/imgs/category/cate-6.3.svg"
                              alt=""
                              class="menu-column__icon-1"
                            />
                            <img
                              src="/assets/imgs/category/cate-6.4.svg"
                              alt=""
                              class="menu-column__icon-2"
                            />
                          </div>

                          <div class="menu-column__content">
                            <a href="#!">
                              <h2 class="menu-column__heading">Candy</h2>
                            </a>

                            <ul class="menu-column__list">
                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Shop All </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Better for You </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Chocolate </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Sugar Free Candy </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Gum </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> Mints </a>
                              </li>

                              <li class="menu-column__item">
                                <a href="#!" class="menu-column__link"> On-the-Go </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- overlay -->
    <div class="overlay js-toggle" toggle-target="#navbar"></div>

    <!-- actions -->
    <div class="top-action">
      <div class="top-action__group top-action__group--single d-lg-none">
        <button class="top-action__btn">
          <img src="/assets/icons/search.svg" alt="Search" class="icon top-action__icon" />
        </button>
      </div>

      <div class="top-action__group">
        <button class="top-action__btn top-action__btn-cart">
          <img src="/assets/icons/buy-car.svg" alt="Buy" class="icon top-action__icon" />
          <span class="top-action__title">4</span>

          <!-- dropdown cart -->
          <div
            class="act-dropdown collapsed-dropdown"
            style="--act-dropdown-right: -70px; --transform-origin: 78%"
          >
            <div class="act-dropdown__inner">
              <img
                id="filter-icon"
                src="/assets/icons/arrow-up.png"
                alt=""
                class="act-dropdown__icon"
                style="--act-dropdown-icon-right: 16.8%; --act-dropdown-icon-top: 2px"
              />

              <div class="flexCenterBetween">
                <h2 class="act-dropdown__title">You have 3 item</h2>
                <a href="./checkout.html" class="act-dropdown__view-all">See All</a>
              </div>

              <div class="act-dropdown__content">
                <article class="cart-review">
                  <a href="./product-detail.html" class="cart-review__link">
                    <img
                      src="/assets/imgs/product/product-1.png"
                      alt=""
                      class="cart-review__thumb"
                    />
                    <p class="cart-review__title two-line-limit">Lavazza Coffee Blends</p>
                    <div class="cart-review__price">$329.00</div>
                  </a>
                </article>

                <article class="cart-review">
                  <a href="./product-detail.html" class="cart-review__link">
                    <img
                      src="/assets/imgs/product/product-2.png"
                      alt=""
                      class="cart-review__thumb"
                    />
                    <p class="cart-review__title two-line-limit">Coffee Beans Espresso</p>
                    <div class="cart-review__price">$39.99</div>
                  </a>
                </article>

                <article class="cart-review">
                  <a href="./product-detail.html" class="cart-review__link">
                    <img
                      src="/assets/imgs/product/product-3.png"
                      alt=""
                      class="cart-review__thumb"
                    />
                    <p class="cart-review__title two-line-limit">Qualità Oro Mountain</p>
                    <div class="cart-review__price">$47.00</div>
                  </a>
                </article>

                <article class="cart-review">
                  <a href="./product-detail.html" class="cart-review__link">
                    <img
                      src="/assets/imgs/product/product-3.png"
                      alt=""
                      class="cart-review__thumb"
                    />
                    <p class="cart-review__title two-line-limit">Qualità Oro Mountain</p>
                    <div class="cart-review__price">$47.00</div>
                  </a>
                </article>
              </div>

              <a href="./checkout.html" class="btn btn--primary act-dropdown__checkout-btn">
                Check Out All
              </a>
            </div>
          </div>
        </button>
      </div>

      <div class="top-action__user top-user d-md-none">
        <button class="top-action__btn">
          <img src="/assets/imgs/avatar/avatar-4.jpg" alt="Avatar" class="top-action__avatar" />

          <!-- dropdown cart -->
          <div
            class="act-dropdown collapsed-dropdown"
            style="--act-dropdown-right: 0; --transform-origin: 93%"
          >
            <div class="act-dropdown__inner top-user__inner">
              <img
                src="/assets/icons/arrow-up.png"
                alt=""
                class="act-dropdown__icon"
                style="--act-dropdown-icon-right: 2px; --act-dropdown-icon-top: 4px"
              />

              <div class="top-user__content">
                <img src="/assets/imgs/avatar/avatar-4.jpg" alt="" class="top-user__avatar" />
                <div class="top-user__info">
                  <div class="top-user__name">Ngô Kim Long</div>
                  <div class="top-user__email">ngolong.hh@gmail.com</div>
                </div>
              </div>

              <hr />

              <ul class="top-user__list">
                <li class="top-user__item">
                  <a href="./profile.html" class="top-user__link">Profile</a>
                </li>

                <li class="top-user__item">
                  <a href="./checkout.html" class="top-user__link">Product List</a>
                </li>
              </ul>

              <hr />

              <ul class="top-user__list">
                <li class="top-user__item d-flex flexCenterBetween">
                  <div class="top-user__link m-0" id="switch-theme-btn">
                    <span>Dark mode </span>
                  </div>

                  <label class="theme-switch">
                    <input type="checkbox" class="theme-switch__checkbox" />
                    <div class="theme-switch__container">
                      <div class="theme-switch__clouds"></div>
                      <div class="theme-switch__stars-container">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 55" fill="none">
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M135.831 3.00688C135.055 3.85027 134.111 4.29946 133 4.35447C134.111 4.40947 135.055 4.85867 135.831 5.71123C136.607 6.55462 136.996 7.56303 136.996 8.72727C136.996 7.95722 137.172 7.25134 137.525 6.59129C137.886 5.93124 138.372 5.39954 138.98 5.00535C139.598 4.60199 140.268 4.39114 141 4.35447C139.88 4.2903 138.936 3.85027 138.16 3.00688C137.384 2.16348 136.996 1.16425 136.996 0C136.996 1.16425 136.607 2.16348 135.831 3.00688ZM31 23.3545C32.1114 23.2995 33.0551 22.8503 33.8313 22.0069C34.6075 21.1635 34.9956 20.1642 34.9956 19C34.9956 20.1642 35.3837 21.1635 36.1599 22.0069C36.9361 22.8503 37.8798 23.2903 39 23.3545C38.2679 23.3911 37.5976 23.602 36.9802 24.0053C36.3716 24.3995 35.8864 24.9312 35.5248 25.5913C35.172 26.2513 34.9956 26.9572 34.9956 27.7273C34.9956 26.563 34.6075 25.5546 33.8313 24.7112C33.0551 23.8587 32.1114 23.4095 31 23.3545ZM0 36.3545C1.11136 36.2995 2.05513 35.8503 2.83131 35.0069C3.6075 34.1635 3.99559 33.1642 3.99559 32C3.99559 33.1642 4.38368 34.1635 5.15987 35.0069C5.93605 35.8503 6.87982 36.2903 8 36.3545C7.26792 36.3911 6.59757 36.602 5.98015 37.0053C5.37155 37.3995 4.88644 37.9312 4.52481 38.5913C4.172 39.2513 3.99559 39.9572 3.99559 40.7273C3.99559 39.563 3.6075 38.5546 2.83131 37.7112C2.05513 36.8587 1.11136 36.4095 0 36.3545ZM56.8313 24.0069C56.0551 24.8503 55.1114 25.2995 54 25.3545C55.1114 25.4095 56.0551 25.8587 56.8313 26.7112C57.6075 27.5546 57.9956 28.563 57.9956 29.7273C57.9956 28.9572 58.172 28.2513 58.5248 27.5913C58.8864 26.9312 59.3716 26.3995 59.9802 26.0053C60.5976 25.602 61.2679 25.3911 62 25.3545C60.8798 25.2903 59.9361 24.8503 59.1599 24.0069C58.3837 23.1635 57.9956 22.1642 57.9956 21C57.9956 22.1642 57.6075 23.1635 56.8313 24.0069ZM81 25.3545C82.1114 25.2995 83.0551 24.8503 83.8313 24.0069C84.6075 23.1635 84.9956 22.1642 84.9956 21C84.9956 22.1642 85.3837 23.1635 86.1599 24.0069C86.9361 24.8503 87.8798 25.2903 89 25.3545C88.2679 25.3911 87.5976 25.602 86.9802 26.0053C86.3716 26.3995 85.8864 26.9312 85.5248 27.5913C85.172 28.2513 84.9956 28.9572 84.9956 29.7273C84.9956 28.563 84.6075 27.5546 83.8313 26.7112C83.0551 25.8587 82.1114 25.4095 81 25.3545ZM136 36.3545C137.111 36.2995 138.055 35.8503 138.831 35.0069C139.607 34.1635 139.996 33.1642 139.996 32C139.996 33.1642 140.384 34.1635 141.16 35.0069C141.936 35.8503 142.88 36.2903 144 36.3545C143.268 36.3911 142.598 36.602 141.98 37.0053C141.372 37.3995 140.886 37.9312 140.525 38.5913C140.172 39.2513 139.996 39.9572 139.996 40.7273C139.996 39.563 139.607 38.5546 138.831 37.7112C138.055 36.8587 137.111 36.4095 136 36.3545ZM101.831 49.0069C101.055 49.8503 100.111 50.2995 99 50.3545C100.111 50.4095 101.055 50.8587 101.831 51.7112C102.607 52.5546 102.996 53.563 102.996 54.7273C102.996 53.9572 103.172 53.2513 103.525 52.5913C103.886 51.9312 104.372 51.3995 104.98 51.0053C105.598 50.602 106.268 50.3911 107 50.3545C105.88 50.2903 104.936 49.8503 104.16 49.0069C103.384 48.1635 102.996 47.1642 102.996 46C102.996 47.1642 102.607 48.1635 101.831 49.0069Z"
                            fill="currentColor"
                          ></path>
                        </svg>
                      </div>
                      <div class="theme-switch__circle-container">
                        <div class="theme-switch__sun-moon-container">
                          <div class="theme-switch__moon">
                            <div class="theme-switch__spot"></div>
                            <div class="theme-switch__spot"></div>
                            <div class="theme-switch__spot"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </label>
                </li>

                <li class="top-user__item">
                  <a href="./edit-personal-info.html" class="top-user__link">Settings</a>
                </li>
              </ul>

              <hr />

              <ul class="top-user__list">
                <li class="top-user__item">
                  <a href="./index.html" class="top-user__link">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </button>
      </div>
    </div>
  </section>
</div>
