@use '../abstracts';

.product-page {
  display: flex;
  flex-direction: column;
  background: var(--product-page-bg-color);

  @include abstracts.screen(md) {
    background: var(--product-page-md-bg-color);
  }
}

.product__all {
  @include abstracts.screen(md) {
    border-radius: 10px;
    background: var(--product-all-bg-md);
    box-shadow: 0px 20px 60px 10px var(--product-property-icon-filter);
  }
}

.product__home {
  margin: 30px 0;

  @include abstracts.screen(md) {
    margin: 20px 0;
  }
}

.product__preview {
  &-main {
    position: relative;
    width: 100%;
    padding-top: 92%;
  }

  &-main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-thumbs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-thumbs-img {
    width: 110px;
  }
}

.product-info {
  padding: 30px;
  border-radius: 10px;
  background: var(--product-info-bg-color);
  box-shadow: 0px 20px 60px 10px var(--header-shadow-color);

  @include abstracts.screen(md) {
    background: var(--product-info-bg-color-md);
  }

  &__heading {
    color: var(--product-info-heading);
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 138.462%;

    @include abstracts.screen(md) {
      font-size: 1.8rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    border-radius: 6px;
    border: 1px solid var(--product-info-card-border);

    @include abstracts.screen(lg) {
      gap: 10px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__price {
    color: var(--product-info-price-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
  }

  &__tax {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%),
      #67b044;

    padding: 2px 8px;
    color: #67b044;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
  }

  &__totol-price {
    color: var(--product-info-price-color);
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 138.462%;
  }

  &__btn {
    width: 213px;
    height: 46px;
    padding: 0;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    @include abstracts.screen(xl) {
      max-width: 100%;
      font-size: 1.6rem;
    }

    @include abstracts.screen(md) {
      font-size: 1.8rem;
    }
  }

  &__like-btn {
    height: 46px;
    border-radius: 6px;
  }
}

.product-property {
  display: flex;
  align-items: flex-start;
  gap: 0 16px;
  margin: 30px 0;

  @include abstracts.screen(lg) {
    margin: 16px 0;
  }

  &__icon {
    width: 24px;
    height: 24px;
    filter: var(--product-property-icon-filter);
  }

  &__size {
    align-items: flex-start;
    flex-direction: column;

    & .form__group {
      width: 100%;

      @include abstracts.screen(lg) {
        margin-top: 16px;
      }
    }

    & .form__tag {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      background: var(--product-property-tag-bg);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__title {
    color: var(--product-property-title);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__span {
    color: var(--product-property-span);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
  }
}

.product-tab {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    margin-left: -30px;
    border-radius: 10px;
    background: var(--breadcrums-bg-color);
    box-shadow: 0px 20px 60px 10px var(--breadcrums-shadow-color);

    @include abstracts.screen(lg) {
      gap: 10px;
    }

    @include abstracts.screen(sm) {
      margin-left: -15px;
    }
  }

  &__item {
    color: var(--product-tab-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;

    padding: 20px 30px;
    user-select: none;

    &:hover {
      color: var(--product-tab-color-active);
    }

    &:not(&--active) {
      cursor: pointer;
    }

    @include abstracts.screen(md) {
      font-size: 2rem;
    }

    @include abstracts.screen(sm) {
      padding: 0 15px;
    }

    &--active {
      color: var(--product-tab-color-active);
    }
  }

  &__contents {
    padding-top: 30px;
  }

  &__content {
    display: none;

    & .product-item,
    & .product-item__brand {
      font-size: 1.4rem;
    }

    & .product-item__like-btn {
      width: 30px;
      height: 30px;
    }

    &--active {
      display: block;
    }

    .heading {
      color: var(--product-tab-heading);
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 141.667%;

      margin-bottom: 30px;
    }
  }
}

.review-card {
  padding: 30px;
  border-radius: 1.6rem;
  color: var(--product-tab-heading);
  background: var(--review-card-bg-color);

  &__content {
    display: flex;
    gap: 20px;
  }

  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 999px;
    object-fit: cover;
  }

  &__info {
  }

  &__name {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__comment {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
  }

  &__rating {
    display: flex;
    align-items: center;

    gap: 20px;
    margin-top: 20px;
  }

  &__starts {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__start {
  }

  &__evaluate {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }
}
