@use '../abstracts';

%flexCenter {
  display: flex;
  align-items: center;
}

%flexCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexCenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background: var(--header-bg-color);
  box-shadow: 0px 20px 60px 10px var(--header-shadow-color);

  @include abstracts.screen(sm) {
    height: 76px !important;
  }
}

.top-bar {
  position: relative;
  padding: 18px 0;
  z-index: 1;
  display: flex;
  align-items: center;

  @include abstracts.screen(sm) {
    padding: 10px 0;
  }

  @include abstracts.screen(xl) {
    justify-content: space-between;
  }

  &__more {
    padding: 13px 20px 13px 0;

    @include abstracts.screen(sm) {
      padding: 13px 26px 13px 0;
    }
  }
}

.navbar {
  margin-left: 129px;
  margin-right: auto;
  border-radius: 0rem 2rem 2rem 0rem;

  @include abstracts.screen(xl) {
    margin: 0;
  }

  @include abstracts.screen(lg) {
    position: fixed;
    inset: 0 50% 0 0;
    box-shadow: var(--sidebar-shadow);
    background: var(--dropdown-bg-color);
    z-index: 10;
    padding: 20px 0;

    opacity: 0;
    translate: -100%;
    visibility: hidden;

    transition-delay: 0.1s;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-property: opacity, translate, visibility;

    &.show {
      opacity: 1;
      translate: 0;
      visibility: visible;
    }

    &.show ~ .overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  @include abstracts.screen(sm) {
    position: fixed;
    inset: 0 20% 0 0;

    padding: 20px 0;
    background: var(--sidebar-bg);
  }

  &-stalls {
    flex-direction: column;

    &__icon {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }

    &__link {
      display: flex;
      align-items: center;
      padding: 10px 30px;
      font-size: 1.5rem;
      line-height: 146.667%;

      @include abstracts.screen(sm) {
        padding: 10px 20px;
      }
    }

    &__title {
      padding-left: 14px;
    }

    &__quantity {
      margin-left: auto;
    }
  }

  &__container {
    @include abstracts.screen(lg) {
      padding: 0 30px;
      max-height: calc(min(582px, 100vh - 78px));

      overflow-y: auto;
      overscroll-behavior: contain;

      @include abstracts.screen(md) {
        padding: 0 20px;
        max-height: calc(min(582px, 100vh - 167px));
      }
    }
  }

  &__btn-close {
    padding: 0 20px 10px;
    cursor: pointer;
    filter: var(--dropdown-close-color);

    &__btn-close img {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }
  }

  &__list {
    display: flex;

    @include abstracts.screen(lg) {
      flex-direction: column;
    }
  }

  &__item {
    width: 100%;

    &:hover > .dropdown {
      opacity: 1;
      max-height: 100%;
      visibility: visible;
      pointer-events: auto;
    }

    @include abstracts.screen(xl) {
      padding: 0 10px;
    }

    @include abstracts.screen(lg) {
      padding: 0;
      max-height: 100%;

      &:hover .dropdown {
        opacity: 0;
        max-height: 0;
        visibility: hidden;
        pointer-events: none;

        transition-delay: 0.1s;
        transition-duration: 0.2s;
        transition-property: opacity max-height visibility pointer-events;
        transition-timing-function: cubic-bezier(0.12, 0.58, 1, 0.54);
      }

      &--active .dropdown {
        opacity: 1 !important;
        max-height: 100% !important;
        visibility: visible !important;
        pointer-events: auto !important;
      }
    }
  }

  &__link {
    display: flex;
    padding: 0 14px;

    font-size: 1.65rem;
    line-height: 48px;

    @include abstracts.screen(lg) {
      padding: 0;
      font-size: 1.6rem;
      justify-content: space-between;
    }

    @include abstracts.screen(sm) {
      line-height: 44px;
    }
  }

  &__icon {
    margin-left: 6px;

    @include abstracts.screen(lg) {
      rotate: -90deg;
      transition: rotate 0.3s;
    }
  }

  &__item--active &__icon {
    rotate: 0deg;
  }
}

.top-action {
  @extend %flexCenterCenter;
  gap: 20px;

  @include abstracts.screen(xl) {
    gap: 10px;
  }

  &__group {
    @extend %flexCenterCenter;
    height: 50px;
    min-width: 50px;
    max-width: 226px;

    border-radius: 0.8rem;
    background: var(--top-action-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-action-group-shadow);
  }

  &__btn-cart {
    @extend %flexCenterCenter;
    gap: 10px;
    cursor: pointer;
    padding: 12px;
  }

  &__btn {
    position: relative;

    &:hover .act-dropdown {
      scale: 1;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__sign-up {
    @include abstracts.screen(md) {
      height: 40px;
      padding: 0 10px;
      font-size: 1.5rem;
    }
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__icon {
    position: relative;
    width: 28px;
    height: 28px;
    padding: 0.325rem 0.275rem 0.2709rem 0.275rem;
  }

  &__title {
    position: absolute;
    top: 8px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    background: #7cd9e4;
    border-radius: 999px;

    font-size: 1.5rem;
    line-height: 146.667%;
  }

  &__separate {
    width: 1.3px;
    height: 20px;
    background: var(--top-action-separate-color);
  }

  &__user {
    & .act-dropdown__inner {
      border-radius: 8px;
    }
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 0.8rem;
    box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
    object-fit: cover;
    cursor: pointer;
  }
}

.act-dropdown {
  position: absolute;
  top: 100%;
  right: var(--act-dropdown-right);
  padding-top: 17px;
  z-index: 10;

  &__icon {
    position: absolute;
    top: var(--act-dropdown-icon-top);
    right: var(--act-dropdown-icon-right);
    width: 46px;
    height: 100%;

    filter: var(--act-dropdown-icon);
  }

  &__inner {
    width: min(445px, 100vw);
    padding: 20px 0;
    border-radius: 20px;
    background: var(--act-dropdown-cart-bg);
    box-shadow: 0px 40px 90px 20px var(--act-dropdown-cart-shadow);

    cursor: initial;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__title {
    color: var(--act-dropdown-cart-title-color);
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 145.455%;
    padding: 0 20px;
  }

  &__view-all {
    color: var(--act-dropdown-cart-view-all-color);
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 145.455%;
    padding: 0 20px;

    &:hover {
      cursor: pointer;

      text-decoration: underline;
    }
  }

  &__content {
    padding: 10px 0;
    max-height: 400px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
      transition: width 0.3s ease;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(155, 155, 155, 0.5);
      border-radius: 3px;
      transition: background-color 0.3s ease;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba(155, 155, 155, 0.8);
    }
  }

  &__checkout-btn {
    display: flex;
    width: 190px;
    margin: 10px 20px 0 auto;

    color: #1a162e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 145.455%;
  }
}

.cart-review {
  &__link {
    display: flex;
    padding: 5px 20px;

    &:hover {
      cursor: pointer;
      background: var(--act-dropdown-cart-hover);
    }

    &:hover .cart-review__thumb {
      border: 1px solid var(--act-dropdown-cart-border-hover);
    }
  }

  &__img-wrap {
  }

  &__thumb {
    width: 55px;
    height: 52px;
    object-fit: contain;
    border: 1px solid var(--act-dropdown-border);
    border-radius: 2px;
  }

  &__title {
    width: 100%;
    text-align: left;
    color: var(--act-dropdown-cart-title-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    margin-left: 10px;
  }

  &__price {
    color: var(--act-dropdown-cart-title-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    margin-left: auto;
    padding-left: 15px;
  }
}
