@use '../abstracts';

.breadcrums {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  min-height: 64px;
  padding: 20px;

  border-radius: 10px;
  background: var(--breadcrums-bg-color);
  box-shadow: 0px 20px 60px 10px var(--breadcrums-shadow-color);

  @include abstracts.screen(md) {
    gap: 16px;
    background: var(--breadcrums-md-bg-color);
  }

  &__item {
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--breadcrums-link-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    white-space: nowrap;
    transition: color 0.2s;

    &:hover {
      color: var(--breadcrums-link-current);
    }

    @include abstracts.screen(md) {
      font-size: 1.4rem;
    }

    &--current {
      transition: opacity 0.2s;
      color: var(--breadcrums-link-current);

      &:hover {
        opacity: 0.8;
      }
    }

    &--current .breadcrums__icon {
      display: none;
    }
  }

  &__icon {
    position: relative;
    top: 2px;
  }
}
