@use '../abstracts';

// buttons
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  padding: 0 20px;
  font-size: 1.6rem;
  border-radius: 6px;

  user-select: none;
  background: #f8f8f8;

  &--text {
    color: #9e9da8;
    background: transparent;
  }

  &--primary {
    color: #171c28;
    background: #ffb700;
  }

  &--outline {
    border: 1px solid #d2d1d6;
    background: transparent;
  }

  &--rounded {
    border-radius: 999px;
  }

  &[disabled],
  &--disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &:hover {
    opacity: 0.9;
  }
}
