@use '../abstracts';

.cate-item {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 20px;

  padding: 20px;
  border-radius: 16px;
  background: var(--cate-item-bg);

  &:hover {
    box-shadow: 0px 20px 60px 10px var(--dropdown-shadow-color);
  }

  @include abstracts.screen(xl) {
    flex-direction: column;
  }

  @include abstracts.screen(lg) {
    padding: 16px 20px;
  }

  @include abstracts.screen(md) {
    flex-direction: row;
  }

  @include abstracts.screen(md) {
    padding: 10px;
  }

  &__thumb {
    width: 116px;
    height: 116px;
    object-fit: contain;
    background: var(--cate-item-bg-thumb);
    border-radius: 8px;

    &:hover {
      border: 1px solid var(--top-action-separate-color);
    }

    @include abstracts.screen(xl) {
      width: 100%;
      height: 130px;
      background: var(--cate-item-bg-thumb);
    }

    @include abstracts.screen(md) {
      width: 88px;
      height: 88px;
    }
  }

  &__title {
    color: var(--cate-item-color-title);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;

    @include abstracts.screen(xl) {
      text-align: center;
    }

    @include abstracts.screen(md) {
      text-align: inherit;
      font-size: 2rem;
    }

    @include abstracts.screen(sm) {
      font-size: 1.8rem;
      line-height: 144.444%;
    }
  }

  &__desc {
    margin-top: 6px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;

    @include abstracts.screen(md) {
      font-size: 1.5rem;
    }

    @include abstracts.screen(sm) {
      font-size: 1.4rem;
      line-height: 142.857%;
    }
  }
}
