@use '../abstracts';

.filter {
  margin: 20px 0 30px;
  border: 1px solid var(--filter-border-color);
  border-radius: 6px;
  background: var(--filter-form-bg);

  @include abstracts.screen(xl) {
    margin: 20px 0;
  }

  @include abstracts.screen(lg) {
    padding-bottom: 20px;
  }

  &__col {
    border-right: 1px solid var(--filter-border-color);
  }

  &__center {
    display: flex;
    gap: 16px;
    padding: 20px 30px;

    @include abstracts.screen(xxl) {
      gap: 10px;
      flex-direction: column;
      padding: 20px;
    }

    @include abstracts.screen(lg) {
      padding: 20px 16px 0;
    }
  }

  &__heading {
    margin-top: 6px;
    color: var(--form-heading-color);
    font-size: 2.2rem;
    line-height: 145.455%;

    @include abstracts.screen(xxl) {
      margin-top: 0;
    }

    @include abstracts.screen(md) {
      font-size: 1.8rem;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__select {
    display: block;
    width: 90%;

    color: var(--form-input-text-color);
    font-size: 1.6rem;
    line-height: 142.857%;

    border: 1px solid #aaa;
    border-radius: 6px;
    border-image: initial;
    background-position: right 0.7em top 50%, 0px 0px;

    padding: 0.4em 1.4em 0.3em 0.8em;
    outline: none;
    background-color: #fff;
    background-image: url('/assets/icons/arrow-down.svg');
    background-size: 0.65em, 100%;
    background-repeat: no-repeat, repeat;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:hover {
      border-color: rgb(136, 136, 136);
    }

    &:focus {
      outline: none;
      color: var(--text-color);
      border-color: rgb(170, 170, 170);

      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }

    // & option {
    //   padding: 20px;
    //   color: #333;
    //   background: #fff;
    // }

    // & option:hover {
    //   background-color: #f2f2f2;
    // }

    // & option:checked {
    //   background-color: #ccc;
    // }
  }

  &__icon {
    object-fit: contain;
    filter: var(--icon-color);

    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__tag {
    padding: 6px 12px;
    background: var(--form-tag-bg);
    border-radius: 0.6rem;
    color: #9e9da8;
    font-size: 1.4rem;
    line-height: 142.857%;
    transition: color 0.2s, backgroundColor 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  height: 40px;
  padding: 16px;
  border-radius: 6px;

  color: var(--filter-btn-title-color);
  background: var(--filter-btn-bg);

  &:hover {
    opacity: 0.8;
  }

  &:hover &__icon {
    transform: rotate(90deg);
  }

  &__title {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 142.857%;
  }

  &__icon {
    transition: transform 0.3s ease;
  }
}

.like-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;

  &:not(&--liked) &__icon--liked {
    display: none;
  }

  &--liked &__icon {
    display: none;
  }

  &__icon--liked {
    margin-top: 10px;
    margin-left: 0.3px;
  }
}
