@use '../abstracts';

.form {
  &__title {
    color: var(--checkout-text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__search {
    width: 100%;
    display: flex;
    position: relative;

    &-input {
      width: 100%;
      height: 44px;

      padding: 10px 56px 10px 16px;
      color: var(--text-color);
      font-size: 1.9rem;
      font-weight: 500;
      line-height: 146.667%;

      border-radius: 0.6rem;
      border: 1px solid #d2d1d6;
      transition: border 0.3s;

      &::placeholder {
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--form-input-text-color);
      }

      &:focus {
        border: 1.5px solid rgb(0, 123, 255, 0.5);
      }

      @include abstracts.screen(sm) {
        width: 100%;
        font-size: 1.6rem;
      }
    }

    &-icon {
      height: 100%;
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      right: 0;
      padding: 0 16px 0 5px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    padding: 0 5px;
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    width: 100%;
    padding: 5px 14px;
    font-size: 1.4rem;
    line-height: 142.857%;

    &:first-child {
      width: 60%;
    }

    &:last-child {
      width: 40%;
      border-left: 1.5px solid #ccc;
    }
  }

  &__select--gram:last-child {
    border-left: none;
  }

  &__heading {
    color: var(--form-heading-color);
    font-size: 2.2rem;
    line-height: 145.455%;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 30px;

    @include abstracts.screen(lg) {
      margin-top: 20px;
    }
  }

  &__group {
    width: 100%;
    margin-top: 20px;

    @include abstracts.screen(xl) {
      margin-top: 14px;
    }

    &--horizontal {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }

  &__group--inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    height: 36px;
    padding: 8px 12px;

    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 10px;
    color: var(--text-color);
    // color: var(--form-label-text);

    @include abstracts.screen(xl) {
      width: 100%;
    }

    &::placeholder {
      font-weight: 400;
      color: var(--form-input-text-color);
    }

    &-icon {
      margin-left: 12px;
    }
  }

  &__input-pay {
    width: 100%;
    height: 44px;

    padding: 12px;
    margin-top: 10px;

    &::placeholder {
      display: block;
      color: #d2d1d6;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 144.444%;
      opacity: 0.8;

      @include abstracts.screen(sm) {
        font-size: 1.4rem;
      }
    }
  }

  &__select-wrap {
    border: 1px solid #d2d1d6;
    border-radius: 6px;
  }

  &__label {
    &--small {
      display: block;
      color: var(--form-heading-color);
      font-size: 1.4rem;
      line-height: 142.857%;
      margin-bottom: 10px;
    }
  }

  &__select-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    padding: 5px 0;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    flex-wrap: wrap;

    @include abstracts.screen(xl) {
      gap: 10px;
    }
  }

  &__tag {
    padding: 6px 12px;
    background: var(--form-tag-bg);
    border-radius: 0.6rem;

    color: #9e9da8;
    font-size: 1.4rem;
    line-height: 142.857%;
    transition: color 0.2s, backgroundColor 0.2s;

    @include abstracts.screen(xl) {
      padding: 6px 8px;
    }

    @include abstracts.screen(sm) {
      font-weight: 400;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__text-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 48px;
    padding: 12px 20px;
    border-radius: 10px;

    cursor: pointer;
    border: 1.5px solid var(--input-border-color);

    & .form__input {
      padding: 0;
    }

    @include abstracts.screen(md) {
      height: 48px;
    }

    &:focus-within {
      border-color: #a7a7a8;
    }
  }

  &__text-input + &__text-input {
    margin-top: 20px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include abstracts.screen(lg) {
      gap: 0px;
    }

    @include abstracts.screen(sm) {
      gap: 10px;
    }
  }

  &__checkbox-input {
    width: 21px;
    height: 21px;
  }

  &__checkbox-label {
    color: var(--form-checkbox-label-color);
    font-weight: 500;
    line-height: 146.667%;

    @include abstracts.screen(md) {
      font-size: 1.4rem;
    }
  }
}
