@use '../abstracts';

.product-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  font-size: 1.6rem;
  background: var(--product-item-bg);
  border-radius: 20px;
  box-shadow: 0px 20px 60px 10px var(--product-item-shadow);

  &:hover {
    box-shadow: 0px 20px 60px 10px rgba($color: #000000, $alpha: 0.08);
  }

  &:hover &__thumb {
    border: 2px solid transparent;
    border-bottom: 1px solid var(--top-action-separate-color);
  }

  &:hover &__menu {
    opacity: 1;
    transform: scale(1);
  }

  @include abstracts.screen(md) {
    gap: 10px;
    padding: 12px;
    font-size: 1.4rem;
  }

  &__img-wrap {
    position: relative;
    padding-top: 100%;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--product-item-color);

    @include abstracts.screen(md) {
      font-size: 1.6rem;
      line-height: 140%;
    }
  }

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;

    opacity: 0;
    transform-origin: top;
    transform: scale(0.5);
    transition: all 0.5s;
  }

  &__menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0.5);
    background: #888;

    border-radius: 50%;

    opacity: 0.7;
    transition: all 0.35s;

    &:hover {
      color: #fff;
      opacity: 0.9;
      background: #666;
    }
  }

  &__like-btn {
    position: absolute;
    bottom: 2px;
    right: 0;
    transition: opacity 0.3s, transform 0.3s;
    background: var(--product-item-btn-like);

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }

    & .icon {
      width: 24px;
      height: 24px;
    }
  }

  &__brand {
    color: #9e9da8;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 146.667%;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__start {
    width: 24px;
    height: 24px;
    margin: -5px 6px 0 auto;
  }

  &__price {
    font-size: 1.8rem;
  }

  &__score {
    font-size: 1.8rem;
  }
}
