@use '../abstracts';

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(24%) saturate(1206%)
    hue-rotate(210deg) brightness(98%) contrast(100%);

  --body-bg-color: #f6f6f6;
  --input-border-color: #d2d1d6;
  --header-bg-color: #eee;
  --top-action-bg-color: #fff;
  --top-action-group-shadow: rgba(237, 237, 246, 0.2);
  --top-action-separate-color: #ededf6;

  // @include abstracts.screen(lg) {
  //   --header-bg-color: #fff;
  //   --header-shadow-color: rgba(237, 237, 246, 0.2);
  // }

  // form
  --form-label-text: #d2d1d6;

  /* ------------ BUTTON ------------*/
  // filter btn
  --filter-btn-bg: #fff;
  --filter-btn-icon-color: #1a162e;
  --filter-btn-title-color: #6c6c72;

  /* ------------******* ------------ */

  // dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);

  --menu-column-border: #d2d1d6;
  --dropdown-close-color: brightness(0) saturate(100%) invert(8%) sepia(8%) saturate(5353%)
    hue-rotate(212deg) brightness(93%) contrast(95%);

  // Sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

  // cate-item
  --cate-item-bg: #eee;
  --cate-item-color-title: #000;
  --cate-item-bg-thumb: #fff;

  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
  }

  // product-item
  --product-item-color: #1a162e;
  --product-item-bg: #fff;
  --product-item-shadow: rgba(237, 237, 246, 0.2);
  --product-item-btn-like: #eee;

  // filter form
  --filter-border-color: #d2d1d6cc;
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --form-heading-color: #1a162e;
  --form-tag-bg: #ebebeb;
  --filter-icon: brightness(0) saturate(100%) invert(93%) sepia(6%) saturate(126%)
    hue-rotate(212deg) brightness(89%) contrast(95%);

  // footer
  --footer-bg-color: #eee;
  --footer-color-link: var(--filter-btn-title-color);
  --footer-color-heading: #1a162e;
  --footer-bottom-bg: var(--body-bg-color);

  // auth
  --auth-content-bg-color: #fff;
  --auth-desc-color: #1a162e;
  --auth-title-color: #9e9da8;
  --form-input-text-color: #d2d1d6;
  --form-checkbox-label-color: #9e9da8;

  // product detail
  --product-page-bg-color: #fff;
  --product-page-md-bg-color: #f6f6f6;

  // breadcrums
  --breadcrums-bg-color: #f6f6f6;
  --breadcrums-md-bg-color: #fff;
  --breadcrums-shadow-color: rgba(237, 237, 246, 0.2);
  --breadcrums-link-color: #9e9da8;
  --breadcrums-link-current: #1a162e;

  // search bar
  --search-bar-bg: #fff;
  --search-bar-filter: brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(7425%)
    hue-rotate(213deg) brightness(93%) contrast(96%);
  --search-bar-input-color: #9e9da8;

  // product property
  --product-all-bg-md: #fff;
  --product-property-title: #000;
  --product-property-span: #1a162e;
  --product-property-tag-bg: #ededf6;
  --product-property-icon-filter: brightness(0) saturate(100%) invert(10%) sepia(19%)
    saturate(1410%) hue-rotate(210deg) brightness(95%) contrast(102%);

  // product info
  --product-info-card-border: #b9babe;
  --product-info-bg-color: #f6f6f6;
  --product-info-bg-color-md: #fff;
  --product-info-heading: #1a162e;
  --product-info-price-color: #000;
  --product-info-btn-bg: #1a162e;

  // product tab
  --product-tab-color: #9e9da8;
  --product-tab-color-active: #1a162e;
  --product-tab-heading: #1a162e;
  --review-card-bg-color: #fafafd;

  // act dropdown cart
  --act-dropdown-icon: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%)
    hue-rotate(161deg) brightness(110%) contrast(100%);
  --act-dropdown-cart-bg: #fff;
  --act-dropdown-border: #d2d1d6;
  --act-dropdown-cart-shadow: rgba(200, 200, 200, 0.4);
  --act-dropdown-cart-title-color: #1a162e;
  --act-dropdown-cart-view-all-color: #0071dc;
  --act-dropdown-cart-hover: rgb(0, 0, 0, 0.03);
  --act-dropdown-cart-border-hover: rgba(200, 200, 200, 0.6);

  // checkout
  --checkout-breadcrums-bg: #fff;
  --checkout-cart-info-bg: #fff;
  --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
  --checkout-text-color: #1a162e;
  --checkout-icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(3782%)
    hue-rotate(210deg) brightness(102%) contrast(96%);

  --checkout-ctrl-btn-hover: rgb(0, 0, 0, 0.03);
  --checkout-thumb-hover: rgba(0, 0, 0, 0.1);
  --checkout-cart-info-item-border: #d2d1d6;
  --checkout-cart-info-gift-bg: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    #7644e1;
  --checkout-cart-info-shadow-bg: rgba(237, 237, 246, 0.2);
  --checkout-like-btn: brightness(0) saturate(100%) invert(68%) sepia(10%) saturate(224%)
    hue-rotate(206deg) brightness(92%) contrast(87%);

  // profile
  --profile-container-bg: #fff;
  --profile-container-bg-shadow: rgba(237, 237, 246, 0.2);
  --profile-menu-title: #1a162e;
  --profile-menu-span: #1a162e;
  --profile-account-info: #f6f6f6;
  --profile-form-label: #1a162e;
}
